.env

# Files to ignore in backend
backend/node_modules
backend/dist

backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*

# OS
backend/.DS_Store

# Tests
backend/coverage
backend/.nyc_output

# IDEs and editors
backend/.idea
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
backend/*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
backend/!.vscode/settings.json
backend/!.vscode/tasks.json
backend/!.vscode/launch.json
backend/!.vscode/extensions.json

# Files to ignore in frontend
open-ai-chrome-extension/node_modules
open-ai-chrome-extension/build

open-ai-chrome-extension/.DS_Store
open-ai-chrome-extension/.env.local
open-ai-chrome-extension/.env.development.local
open-ai-chrome-extension/.env.test.local
open-ai-chrome-extension/.env.production.local

open-ai-chrome-extension/npm-debug.log*
open-ai-chrome-extension/yarn-debug.log*
open-ai-chrome-extension/yarn-error.log*

open-ai-chrome-extension/coverage
