.main-page{
    display: grid;
    grid-template-rows: minmax(100px, auto) auto 1fr;
    background-color: #2f363d;
    height: 100vh;
}

.top-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-container {
    margin: 12px;
    background-color: #484848;
    border-radius: 4px;
    overflow-y: auto;
}

.middle-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.divider {
    height: 3px;
    background-color: #a6a6a6;
    border-radius: 16px;
    margin: 0 12px;
    width: 98%;
}